Sehr geehrter Herr Leontjev,
anbei erhalten Sie die besprochene Programmieraufgabe. Abgabe ist am Samstag, den 02.11.2019 23:59 Uhr.
Bitte bestätigen Sie mir den Erhalt der Aufgabe.
Aufgabenstellung
Erstellen Sie eine Applikation, mit der es möglich ist, Kundendaten zu verwalten. Diese Applikation hat folgende Merkmale: 

·        Kunden anlegen

o   Alle unten genannten Daten sind Pflichtdaten

·        Kunden suchen

o   Der Einfachheit halber soll nur nach Nachname gesucht werden können

·        Kunden bearbeiten

o   Alle Daten des Kunden können geändert werden

·        Kunden löschen

·        zu den Kundendaten gehören

o   Nachname

o   Vorname

o   Geschlecht

o   Straße

o   Postleitzahl

o   Ort

 Die Applikation selbst besteht aus einem Backend und einem Frontend. Beides ist separat zu implementieren.

 

Backend
Das Backend ist als RESTful Webservice umzusetzen, welcher die 4 CRUD-Operation implementiert.

·        Das Backend ist in node.js umzusetzen

·        Zur persistenten Speicherung ist mongoDB zu verwenden

·        Um REST zu implementieren, ist express.js zu verwenden

·        Das Backend bietet die folgenden Routen

o   GET /kunden/:id

o   GET /kunden?nachname=Schmidt

o   POST /kunden

o   PUT /kunden/:id

o   DELETE /kunden/:id

 

Frontend
Das Frontend ist mit React.js und Redux umzusetzen und benötigt folgende Funktionalitäten:

·        Erfassung eines neuen Kunden

·        Suchen eines Kunden

·        Darstellung des Suchergebnisses

·        Bearbeiten eines Kunden

·        Löschen eines Kunden

 

Mit freundlichen Grüßen

Jens Wendelmuth
Leiter IT